@charset "UTF-8";

#fixed_title{
	position:fixed;
	top:12px; 
	left:0px;
	z-index:2;
}

#head_title_text {
	color:white;
	display: inline-block;
	padding: 10px 20px;
	font-size:32px;
	font-weight:bold;
	text-shadow: #030c03 1px 0 10px;
}
#head_title {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	border: solid 2px;
	
	background-size:  cover;
}

#middle1{
	padding-top:100px;
	text-align:center
}


#header2{
	width:100%;
	text-align:center;
}


.text_a{
	padding:12px;
	border: double 8px #64a8d9; 
	height:100%;
}

.text_a_midasi{
	border: solid 1px #64a8d9; 
	padding:6px;
	border-radius:8px;
	background-color:#64a8d9;
	color:white;
}

.text_a_body{
	padding:6px;
	font-size:1.6em;
	line-height:1.6em;
	white-space:pre-wrap;
	word-wrap:break-word;
}

.img_a{
	width:100%;
	box-shadow: 0 10px 10px #666666;
}

.back_img_a{
	background-image:url('../img/back_img_a.jpg');
}

.back_img_b{
	background-image:url('../img/back_img_b.jpg');
}

.back_img_c{
	background-image:url('../img/back_img_c.jpg');
}

.belt_a{
	height:60px;
	width:100%;
	margin-top:80px;
	background-color:#64a8d9
}

.carousel_w{
	margin-top:80px;
	padding-left:30px;
	padding-right:30px;
	background-color:#64a8d9;
}

.carousel1_cell{
	width:240px;
}

.slick-prev
{
    left: -25px;
}
.slick-next
{
    right: -25px;
}

.card_text_ex{
	margin-top:0.8em;
	min-height:75px;
}



